<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net452" />
  <package id="Moq" version="4.5.10" targetFramework="net452" />
  <package id="Nuclei.Build" version="1.0.0" targetFramework="net452" />
  <package id="Nuclei.Nunit.Extensions" version="2.6.2" targetFramework="net452" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
</packages>